# Dependencies
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Docker
*.env

client/src/assets